@using WebApp.Models
@model ICollection<Usuario>

<div class="card text-center">
    <div class="card-header">
        Administracion de Usuarios
    </div>
    <div class="card-body">
        <a asp-action="CrearUser"
        class="btn btn-outline-primary"><i class="fa-solid fa-user-plus me-2"></i>Agregar Nuevo Usuario</a>
    </div>
</div>

<div class=" row">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Username</th>
                <th>Rol</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var U in Model)
            {
                <tr>
                    <td>@U.Name</td>
                    <td>@U.Email</td>
                    <td>@U.Username</td>
                    <td>@U.Rol</td>
                    <td>
                        <a asp-action="EditarUsuario" asp-route-userid="@U.Id"><i class="fa-solid fa-user-pen"></i></a>
                        <i class="fa-solid fa-user-large-slash"></i>
                        <i class="fa-solid fa-user-xmark"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
